@model DalIntern.Models.PositionModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row top-margin">

        <div class="col-md-3">

            <div class="row" style="float:left;">
                @*Company Logo*@
                <div class="col-md-12">
                    <div class="company-item">
                        <img src="~/Images/untitledCompany.jpg" alt="Company">
                        <div class="content">
                            <h3>@Model.company.companyname</h3>
                        </div>
                    </div>
                </div>
                @*Website*@
                <div class="row top-margin">
                    <div class="col-sm-12" style="text-align:center;">
                        <label for="website">Website</label><br />
                        <a id="website" target="_blank" href="@Model.company.website"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-12 pull-left">
                    <label for="positionName"></label>
                    <h3 id="positionName">@Model.positionname</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 pull-left">
                    <div>
                        <select class="rating pull-left" id="rating" name="rating" data-rating="@Model.overallrating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button data-toggle="modal" data-target="#positionModel" class="btn btn-primary btn-md">Post a Review</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row top-margin">
        <h2>Discussions</h2>
        <div class="col-sm-12 pull-left">

            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3"><input type="text" name="searchMessage" placeholder="Search" class="form-control" /></div>
                        <div class="col-md-2"><input type="submit" value="Search" id="btnSearch" class="form-control btn btn-primary" /></div>
                    </div>
                </div>
            }

        </div>
    </div>

</div>

<div class="container">

    @if (Model?.Reviews != null)
    {

        foreach (var reviewItem in Model.Reviews)
        {
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">

                        <div class="row">
                            <div class="col-sm-6 pull-left">
                                <label>Posted on @reviewItem.createddate.ToShortDateString() </label>
                            </div>
                            <div class="col-sm-6 text-align-right">

                                @if (reviewItem.Owner.Anonymous)
                                {
                                    <label style="font-weight:bolder;">
                                        string.Concat(reviewItem.Owner.FirstName + reviewItem.Owner.LastName)
                                    </label>
                                }
                                else
                                {
                                    <label style="font-weight:bolder;">
                                        Anonymous
                                    </label>
                                }

                            </div>
                        </div>

                    </div>
                    <div class="panel-body">
                        @reviewItem.reviewmessage
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="fa fa-thumbs-up">@reviewItem.likes</i>
                            </div>
                            <div class="col-sm-4">
                                <i class="fa fa-thumbs-down">@reviewItem.dislikes</i>
                            </div>
                            <div class="col-sm-4 text-align-right">
                                <select class="rating pull-right" data-rating="@reviewItem.overallrating">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>


<p>

    @Html.ActionLink("Back to Company", "Index", "Company", new { id = Model.id })
</p>

@{
    Html.RenderPartial("AddReview");
}

@section Scripts{

    @Scripts.Render("~/Scripts/star-rating.js")
    <script>
        $('.rating').barrating({
            theme: 'fontawesome-stars'
        });
    </script>
}
