@model DalIntern.Models.CompanyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

<h2>@Model.companyname</h2>

<div class="container">
    <div class="row">

        <div class="col-md-3">
            <div class="row" style="float:left;">
                <div class="col-md-12">
                    <div class="company-item">
                        <img src="~/Images/untitledCompany.jpg" alt="Company">
                        <div class="content">
                            <h3>@Model.companyname</h3>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-12 pull-left">
                    <label for="website">Website :</label>
                    <a id="website" target="_blank" href="@Model.website"></a>
                </div>
            </div>

            <div>
                <select class="pull-left" id="rating" name="rating" data-rating="@Model.overallrating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button data-toggle="modal" data-target="#companyModel" class="btn btn-primary btn-md">Add Review</button>               
            </div>
            <div>
                <h4>Job Profiles</h4>
                <ul style="list-style-type:none">
                    @{ 
                        if(Model!=null && Model.Positions!=null)
                        {
                            foreach(var pos in Model.Positions)
                            {
                                <li>
                                    @Html.ActionLink(pos.positionname, "Index", "Position", new { id = pos.id }, new {  })
                                </li>
                            }
                        }

                    }

                </ul>

            </div>

        </div>

        <div class="col-md-9">
            <!-- company detail section-->
            <h2 class="details_heading">Details</h2>
            <p class="details_body">
                Ut enim nisi, fermentum sed elementum a, vulputate non sapien. Donec gravida lobortis odio, a sodales leo tempor ac.
                Fusce condimentum dui turpis. Morbi turpis tortor, vestibulum vitae nisi id, ultrices suscipit enim.
                Vestibulum fermentum, urna quis auctor blandit, elit elit pretium erat, dictum varius justo magna non justo.
                Ut suscipit est ac turpis tincidunt, id aliquam felis lobortis. Aenean et laoreet metus.
                Proin ornare leo vel eros maximus tempus. Suspendisse justo tortor, vehicula id sem ut, bibendum aliquam ligula.
                Cras placerat porttitor odio vel bibendum. Duis purus sem, luctus sit amet velit vitae, efficitur gravida orci.
                Nulla tristique augue non arcu aliquam eleifend. Proin sem nisi, venenatis sit amet blandit eu, posuere id sem.
            </p>

            <!-- benefits section -->
            <h2 class="benefits_heading">Benefits</h2>
            <p>
                <div class="benefits_body">
                    <ul style="list-style-type:disc">
                        <li>Proin ornare nunc in feugiat rutrum.</li>
                        <li>Etiam semper ex nec lacinia aliquet.</li>
                        <li>Phasellus eget erat ac risus feugiat dignissim.</li>
                        <li>Etiam semper ex nec lacinia aliquet.</li>
                        <li>Phasellus eget erat ac risus feugiat dignissim.</li>
                    </ul>
                </div>
            </p>

            <!-- location section-->
            <h2 class="location_heading">Location</h2>
            <p>
                <div id="map" style="height:300px"></div>
                <script>
                    function myMap() {
                        var myCenter = new google.maps.LatLng(37.332067, -122.03159);
                        var mapCanvas = document.getElementById("map");
                        var mapOptions = { center: myCenter, zoom: 5 };
                        var map = new google.maps.Map(mapCanvas, mapOptions);
                        var marker = new google.maps.Marker({ position: myCenter });
                        marker.setMap(map);
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcWG-8IEmtF84XAjmYNWX98u_IqPp7CwU&callback=myMap"></script>
            </p>
            <br>

        </div>

    </div>
</div>

@{ 
    Html.RenderPartial("AddReview");
}

@section Scripts{

    @Scripts.Render("~/Scripts/star-rating.js")
    <script>
        $('#rating').barrating({
            theme: 'fontawesome-stars'
        });
        $('#AddReviewRating').barrating({
            theme: 'fontawesome-stars'
        });
        $('#rating').barrating('set', $('#rating').attr("data-rating"));

    </script>
}

