@model DalIntern.Models.CompanyModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<div class="container">

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Explore",new { })">Explore</a></li>
        <li class="active">@Model.companyname</li>
    </ol>
    <h2>@Model.companyname</h2>
    <br />

    <div class="row">

        <div class="col-md-3">
            <div class="row" style="float:left;">
                <div class="col-md-12">
                    <div class="company-item">
                        <img src="~/Images/@Model.companyimage" alt="Company" style="max-width:200px;max-height:200px;">

                    </div>
                    <br />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 pull-left">
                    <label for="website">Website :</label>
                    <a id="website" target="_blank" href=@("http://www."+Model.companyname+".com")>@("www." + Model.companyname + ".com")</a>
                </div>

            </div>


            <div class="disabledStars">
                <select class="pull-left" id="rating" name="rating" data-rating="@Model.overallrating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <br />
                <button data-toggle="modal" data-target="#positionModel" class="btn btn-primary btn-md">Add Review</button>
            </div>
            <br/>
            <div>
                <h4>Job Profiles</h4>
                <ul style="list-style-type:none">
                    @{
                        if (Model != null && Model.Positions != null)
                        {
                            foreach (var pos in Model.Positions)
                            {
                                <li>
                                    @Html.ActionLink(pos.positionname, "Index", "Position", new { id = pos.id }, new { })
                                </li>
                            }
                        }

                    }

                </ul>

            </div>

        </div>

        <div class="col-md-9">
            <!-- company detail section-->
            <h2 class="details_heading">Details</h2>
            <p class="details_body" id="details_body">
                @Model.description
            </p>

            

            <!-- location section-->
            <h2 class="location_heading">Location</h2>
            <p>
                <div id="map" style="height:300px"></div>
                <script>
                    function myMap() {
                        //Added by Anudeep
                        var myCity = "@Model.companyname @Model.address";
                        var addLat;
                        var addLon;

                        $.getJSON('https://maps.googleapis.com/maps/api/geocode/json?address=' + myCity, function (data) {

                            $.each(data, function (key, val) {

                                addLat = val[0]['geometry']['location'].lat;
                                addLon = val[0]['geometry']['location'].lng;

                                checkThis(addLat, addLon);

                            });
                        });

                        function checkThis(a, b) {
                            console.log(a);
                            console.log(b);

                            //var myCenter = new google.maps.LatLng(37.332067, -122.03159);
                            var myCenter = new google.maps.LatLng(a, b);
                            //Added by Anudeep
                            var mapCanvas = document.getElementById("map");
                            var mapOptions = { center: myCenter, zoom: 14 };
                            var map = new google.maps.Map(mapCanvas, mapOptions);
                            var marker = new google.maps.Marker({ position: myCenter });
                            marker.setMap(map);
                        }
                    }

                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcWG-8IEmtF84XAjmYNWX98u_IqPp7CwU&callback=myMap"></script>
            </p>
            <br>

        </div>

    </div>
</div>

@{
    Html.RenderPartial("AddReview");
}

@section Scripts{

    @Scripts.Render("~/Scripts/star-rating.js")
    <script>
        $('#rating').barrating({
            theme: 'fontawesome-stars'
        });
        $('#AddReviewRating').barrating({
            theme: 'fontawesome-stars'
        });
        $('#rating').barrating('set', $('#rating').attr("data-rating"));

    </script>
}
