@model DalIntern.Models.ProfileViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Images/useravatar.png" alt="">
            </span>
        </a>

        <div class="navbar-collapse collapse" id="navbarSupportedContent" style="color:white">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#FirstName"> @Model.FirstName @Model.LastName</a>
                </li>
                <li class="nav-item">
                    <a class="" style="text-decoration: underline;color:white;" href="#">@Model.Email</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dalhousie University</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" id="profiledetails">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <h4>Profile</h4>
                <hr />
                
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })                      
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })                        
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @disabled = "disabled", @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })                      
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @disabled = "disabled", @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })                       
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @disabled = "disabled", @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })                       
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @disabled = "disabled", @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })                       
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Anonymous, htmlAttributes: new { @disabled = "disabled", @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Anonymous, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })                     
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EmailConfirmed, htmlAttributes: new { @disabled = "disabled", @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EmailConfirmed, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })                      
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @disabled = "disabled", @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })
                    </div>
                </div>
            </div>
        }
    </div>

    <style>
        .nav-link {
            color: white !important;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/ProfileSheet.css" type="text/css" rel="stylesheet" />
</body>
</html>
